body {
    background: none
}

html {
    background: url(../images/tvshow.jpg);
}

.answerchoice {
    border: 2px solid black;
    border-radius: 5%;
    width: 40%;
    color: black;
    text-align: center;
    margin: 10px auto;
    font-size: 20px;
    background-color: white;
}

img {
    max-height: 200px;
    width: auto;
}

#answerhere {
    text-align: center;

}

#questionhere {
    text-align: center;
    font-weight: bold;
}

#reset {
    margin-bottom: 20px;
}


h1 {
    text-align: center;
    color: black;
    font-weight: bold;
    padding: 20px;
    font-size: 45px;
}

p {
    margin: 10px;
    font-weight: bold;
    color: red;
    font-size: 30px;
}

h2, h4 {
    margin: 30px;
    font-weight: bold;
}

.wrapper {
    margin: 10px auto;
    margin-top: 100px;
    padding: 40px;
    background-color: hsl(175, 55%, 83%);
    border: 2px solid black;
    height: 500px;
    width: 60%;
    text-align: center;
    }

.btn {
    position: relative;
    font-weight: bold;
    margin-top: 70px;
}